@font-face {
    font-family: Segoe UI Regular;
    src: url(../segoe-ui-9.ttf);
}

a {
    text-decoration: none;
}

.header-store {
    float: left;
    color: #fff;
    margin-bottom: 138px;
    padding-left: 60px;
    overflow: hidden;
}

@media(max-width: 1360px) {
  .header-store {
    float: none;
  }
}

.header-store > .title {
    float: left;
    font-size: 40px;
    font-family: Arial, 'Roboto', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
}

.header-store > .navigation {
    float: right;
    font-size: 21px;
    font-family: Segoe UI Regular;
}

.input-search {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    width: 358px;
    margin-right: 65px;
    padding: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    cursor: pointer;
    vertical-align: bottom;
}

.input-search::placeholder {
    color: #fff;
}

.header-store .action {
    margin-right: 60px;
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: inherit;
    padding-bottom: 8px;
    margin-right: 60px;
}

.header-store .action.-last {
    margin-right: 0;
}

.header-store .action:after {
    content: '';
    height: 1px;
    width: 100%;
    background-color: #fff;
    position: absolute;
    bottom: 0; 
    left: 0;
    transform: scaleX(0);
    transform-origin: center left;
    transition: transform 100ms linear;
}

.header-store .action:hover:after {
    transform: scaleX(1);
} 

@media (max-width: 1310px) {
    .header-store {
      padding-right: 60px;
    }
  }
  
  @media (max-width: 1235px) {
    .header-store {
      margin-bottom: 70px;
    }
  
    .header-store > .title {
      float: none;
      text-align: center;
      margin-bottom: 20px;
    }
  
    .header-store > .navigation {
      float: none;
      text-align: center;
    }
  }
  
  @media (max-width: 955px) {
    .header-store {
      padding-left: 30px;
      padding-right: 30px;
    }
    .header-store [type="search"] {
      display: none;
    }
  }
  
  @media (max-width: 530px) {
    .header-store .action {
      margin-right: 30px;
    }
  }
  
  @media (max-width: 465px) {
    .header-store .action {
      margin-right: 15px;
    }
  }
  
  @media (max-width: 375px) {
    .header-store {
      padding-left: 16px;
      padding-right: 16px;
    }
  
    .header-store .action {
      margin-right: 8px;
    }
  }
  
  @media (max-width: 335px) {
    .header-store > .navigation {
      display: none;
    }
  }